<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.talkgap.messenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ContactDetails" android:parentActivityName=".Message"/>
        <activity android:name=".ChatUserProfile" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".chat_theme" />
        <activity android:name=".EditGroup" />
        <activity android:name=".group_profile" />
        <activity android:name=".groupchat_message_vid" />
        <activity android:name=".groupchat_message_img" />
        <activity android:name=".chat_message_vid" />
        <activity android:name=".chat_message_img" />
        <activity android:name=".GroupDetails" />
        <activity android:name=".AddGroup" />
        <activity android:name=".Request" />
        <activity android:name=".Group" />
        <activity
            android:name=".Message"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChatMessage"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Roaster.RoasterConnectionService" />
    </application>

</manifest>